[submodule "IL2CXX/src/recyclone"]
	path = IL2CXX/src/recyclone
	url = https://github.com/shin1m/recyclone.git
[submodule "examples/Platformer2D/MonoGame.Samples"]
	path = examples/Platformer2D/MonoGame.Samples
	url = https://github.com/MonoGame/MonoGame.Samples.git
[submodule "externals/bepuphysics2"]
	path = externals/bepuphysics2
	url = https://github.com/bepu/bepuphysics2.git
